<h1>Iterables</h1>

<h3>Lists<h3>

In [1]:
# define a few lists
a = [0,1,2,3,4,5,6,7]
b = [2,4,6,8,10,12,14]
c = ['gate', 'jump', 'apple', 'lamp', 'apprentice', 'zebra', 'balloon']

<h4>Demonstrate some list methods</h4>

In [2]:
# append
a.append(8)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
# extend
b.extend(c)
print(b)

[2, 4, 6, 8, 10, 12, 14, 'gate', 'jump', 'apple', 'lamp', 'apprentice', 'zebra', 'balloon']

In [4]:
# insert
c.insert(3, 'coriander')
print(c)

['gate', 'jump', 'apple', 'coriander', 'lamp', 'apprentice', 'zebra', 'balloon']

In [5]:
# remove
try:
    b.remove('jump')
    print(b)
except ValueError:
    print('Specified value not in list')

[2, 4, 6, 8, 10, 12, 14, 'gate', 'apple', 'lamp', 'apprentice', 'zebra', 'balloon']

In [6]:
# pop
b.pop()
print(b)
b.pop(9)
print(b)

[2, 4, 6, 8, 10, 12, 14, 'gate', 'apple', 'lamp', 'apprentice', 'zebra']
[2, 4, 6, 8, 10, 12, 14, 'gate', 'apple', 'apprentice', 'zebra']

In [7]:
# note that pop returns the value removed
print(b.pop())

zebra

In [8]:
# clear
d = a
print(d)
d.clear()
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[]

In [9]:
# index
c.index('zebra')

6

In [10]:
# count
e = ['Jim', 'Sam', 'Tara', 'Leon', 'Vanessa', 'Leon', 'Kenneth', 'Sam', 'Sandra', 'Bob', 'Carla', 'Leon']
e.count('Leon')

3

In [11]:
# sort
e.sort()
print(e)

['Bob', 'Carla', 'Jim', 'Kenneth', 'Leon', 'Leon', 'Leon', 'Sam', 'Sam', 'Sandra', 'Tara', 'Vanessa']

In [12]:
# reverse
e.reverse()
print(e)

['Vanessa', 'Tara', 'Sandra', 'Sam', 'Sam', 'Leon', 'Leon', 'Leon', 'Kenneth', 'Jim', 'Carla', 'Bob']

In [13]:
# del statement
del e[2]
print(e)

['Vanessa', 'Tara', 'Sam', 'Sam', 'Leon', 'Leon', 'Leon', 'Kenneth', 'Jim', 'Carla', 'Bob']

<h3>Tuples</h3>

In [14]:
# declaring
f = 1,2,3,4
print(f)

(1, 2, 3, 4)

In [15]:
# unpacking
g = 'red', 'blue', 'green'
cr, cg, cb = g
print('The value of cr is {}, cg is {} and cb is {}'.format(cr, cg, cb))

The value of cr is red, cg is blue and cb is green

<h2>List Comprehensions</h2>

<p>List comprehensions provide a concise way to create lists from iterables. They can be used to create lists 'on the spot'.</p>

In [16]:
a = [1,2,3,4,5]
b = [x * 2 for x in a]

In [17]:
print(b)

[2, 4, 6, 8, 10]

<p>List comprehensions can include conditionals</p>

In [18]:
d = {'James': 45, 'Kerry': 57, 'Alice': 30, 'Joyce': 79, 'George': 68}
# make a list of everyone with above 50 points
e = [x for x in d if d[x] > 50]
print(e)

['Kerry', 'Joyce', 'George']

In [19]:
# condition with both if and else
f = [f'{x} passed' if d[x] > 50 else f'{x} failed' for x in d]
print(f)

['James failed', 'Kerry passed', 'Alice failed', 'Joyce passed', 'George passed']

<h3>Slices</h3>

<p>Slices are a way to select and obtain a piece of a list or tuple. For a list a, the slice notation is <i>a[start:stop]</i>, where <i>start</i> is the start index (included) and <i>stop</i> is the end index (excluded).</p> If <i>start</i> is not provided 0 is assumed, while if <i>stop</i> is not provided the end of the iterable (list or tuple) is assumed.

In [20]:
sample = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(sample[1:5])
print(sample[:-2])
print(sample[-2:])

['b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['i', 'j']

In [21]:
# slicing can be used to make a copy of a list
copyOfSample = sample[:]
print(copyOfSample)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [22]:
# practical use of this superpower
for n, x in enumerate(copyOfSample):
    print(x, n)
    try:
        print(f'Deleting {sample[n]}')
        del sample[n]
    except IndexError:
        print('The list elements have been exhausted')

a 0
Deleting a
b 1
Deleting c
c 2
Deleting e
d 3
Deleting g
e 4
Deleting i
f 5
The list elements have been exhausted
g 6
The list elements have been exhausted
h 7
The list elements have been exhausted
i 8
The list elements have been exhausted
j 9
The list elements have been exhausted

<h3>Sets</h3>

<p>A set is an iterable where no duplicate elements are allowed.</p>

In [23]:
# declaring
h = set('abracadabra')
k = set([1,2,4,5,6,7,3,1,6,7,7,7,6])
print(h)
print(k)

{'a', 'c', 'b', 'r', 'd'}
{1, 2, 3, 4, 5, 6, 7}

In [24]:
i = {1,2,3,1,3,5,6,3,4,8,7,2,1}
print(i)

{1, 2, 3, 4, 5, 6, 7, 8}

<h4>Set Arithmetic</h4>

In [25]:
# elements in a and not in b - NOT
a = set('robots are taking our jobs')
b = set('bananas were exported from Somalia')
print(a)
print(b)
c = a - b
print(c)

{'k', 'u', 't', 'a', 'o', 'e', 'i', 'n', 'g', 's', 'b', 'r', ' ', 'j'}
{'p', 'm', 't', 'f', 'a', 'n', 'e', 'x', 'o', 'i', 's', 'b', 'r', 'd', 'l', ' ', 'S', 'w'}
{'k', 'u', 'j', 'g'}

In [26]:
# elements in either a or b or both - OR
c = a | b
print(c)

{'l', 'm', 't', 'i', 'x', 'b', 'r', ' ', 'S', 'n', 'g', 's', 'd', 'w', 'p', 'k', 'u', 'f', 'a', 'o', 'e', 'j'}

In [27]:
# elements in both a and b - AND
a & b

{' ', 'a', 'b', 'e', 'i', 'n', 'o', 'r', 's', 't'}

In [28]:
# elements in either a or b but not both - XOR
a ^ b

{'S', 'd', 'f', 'g', 'j', 'k', 'l', 'm', 'p', 'u', 'w', 'x'}

<h2>Iterators</h2>

<p>Iterators are objects which implement the iterator protocol, which consist of the methods __iter__() and __next__(). Lists, tuples, dictionaries, and sets are all <b>iterable</b> objects. They are iterable containers which you can get an iterator from. All these objects can return an iterator with the built in iter function.</p>

In [29]:
# list iterable
a1 = ['cow', 'sheep', 'goat', 'pig', 'hen']
# tuple iterable
a2 = (50, 55, 60, 65, 70, 75, 80)
# set iterable
a3 = {'The quick brown fox'}
# dictionary iterable
a4 = {'cow':100, 'sheep':345, 'goat':500, 'pig':1200, 'hen':15}

In [30]:
# get iterators
b1 = iter(a1)
b2 = iter(a2)
b3 = iter(a3)
b4 = iter(a4)

In [31]:
print('From iter() built in function')
# should show an iterator object based on the iterable type
print(b1)
print(b2)
print(b3)
print(b4)

From iter() built in function
<list_iterator object at 0x7fec30096dc0>
<tuple_iterator object at 0x7fec30096f70>
<set_iterator object at 0x7fec30064480>
<dict_keyiterator object at 0x7fec3005b270>

In [32]:
# you can also get iterators by using the __iter__() method
c1 = a1.__iter__()
c2 = a2.__iter__()
c3 = a3.__iter__()
c4 = a4.__iter__()

In [33]:
print('From __iter__() method')
# should show an iterator object based on the iterable type
print(c1)
print(c2)
print(c3)
print(c4)

From __iter__() method
<list_iterator object at 0x7fec300963d0>
<tuple_iterator object at 0x7fec300965b0>
<set_iterator object at 0x7fec30068540>
<dict_keyiterator object at 0x7fec30066a90>

In [34]:
# use the built-in next function to get values
print(next(b1))
print(next(b1))
print(next(b1))
print(next(b1))
print(next(b1))

cow
sheep
goat
pig
hen

In [36]:
try:
    print(next(b1))
except StopIteration:
    print('The underlying iterable is exhausted')

The underlying iterable is exhausted

<p>The for loop actually creates an iterator object and executes the next() method for each loop.</p>

In [37]:
for x in a1:
    print(x)

cow
sheep
goat
pig
hen