<h1>ORM</h1>

Object-relational mapping  is a technique that lets you query and manipulate data from a database using an object-oriented paradigm. When talking about ORM, most people are referring to a library that implements the Object-Relational Mapping technique, hence the phrase "an ORM". We will use SQLAlchemy as our ORM for this course.</p>

<p>
From your terminal run:<br/>
    <b>pip install SQLAlchemy</b>
</p>

In [1]:
# get the relevant modules
from sqlalchemy import create_engine  
from sqlalchemy import Column, ForeignKey, String, Integer, Float, Boolean, DateTime, Sequence
from sqlalchemy.ext.declarative import declarative_base  
from sqlalchemy.orm import sessionmaker
# for datetime
from datetime import datetime

In [2]:
# make a connection string
connectionString = "postgres://youruser:yourpassword@localhost:5432/virtualbank"
# create the connection
dbConn = create_engine(connectionString)

In [3]:
# define classes for ORM
base = declarative_base()

# class for account
class Account(base):  
    __tablename__ = 'vb_accounts'

    acc_id = Column(Integer, Sequence('vb_accounts_acc_id_seq'), primary_key=True)
    acc_ctime = Column(DateTime, default=datetime.now(), nullable=False)
    acc_name = Column(String(100), nullable=False)
    acc_nat_id = Column(String(8), nullable=False)
    acc_code = Column(String(8), nullable=False)
    acc_age = Column(Integer, nullable=False)
    acc_amount = Column(Float, nullable=False)
    acc_pass = Column(String(100), nullable=False)
    acc_active = Column(Boolean, default=True, nullable=False)
    acc_last_login = Column(DateTime)
    
# class for transaction
class Transaction(base):
    __tablename__ = 'vb_transactions'

    tx_id = Column(Integer, Sequence('vb_transactions_tx_id_seq'), primary_key=True)
    tx_ctime = Column(DateTime, default=datetime.now(), nullable=False)
    tx_ref = Column(String(10), nullable=False)
    tx_account = Column(Integer, ForeignKey("vb_accounts.acc_id"), nullable=False)
    tx_type = Column(String(40), nullable=False)
    tx_amount = Column(Float, nullable=False)
    tx_narrative = Column(String, nullable=False)

In [4]:
# create the tables if not existing
base.metadata.create_all(dbConn)

In [5]:
# create a session
Session = sessionmaker(bind=dbConn)
session = Session()

In [6]:
# create two accounts
account1 = Account(acc_name='Julia Wambui', acc_nat_id='24591134', acc_code='BOK-001', acc_age=32, acc_amount=100000, acc_pass='julzw20')
account2 = Account(acc_name='Mark Kipkurui', acc_nat_id='22553318', acc_code='BOK-002', acc_age=43, acc_amount=170000, acc_pass='markkip')

In [7]:
# add to session
session.add(account1)
session.add(account2)

In [8]:
# save changes
session.commit()

In [9]:
# query the database
for account in session.query(Account).order_by(Account.acc_id):
    print(f'Account Number: {account.acc_code}')
    print(f'Account Name: {account.acc_name}')
    print(f'Account Balance: KES {account.acc_amount}\n')

Account Number: BOK-001
Account Name: Julia Wambui
Account Balance: KES 100000.0

Account Number: BOK-002
Account Name: Mark Kipkurui
Account Balance: KES 170000.0

In [10]:
# query for a specific account
result = session.query(Account).filter_by(acc_code='BOK-002').first()
print(result.acc_name)
# a more complex query
result = session.query(Account).filter(Account.acc_amount > 100000).all()
print(result[0].acc_name)

Mark Kipkurui
Mark Kipkurui

In [11]:
# update a record
session.query(Account).filter_by(acc_code='BOK-001').update({'acc_amount':57000})
session.commit()

In [12]:
# confirm the change
result = session.query(Account).filter_by(acc_code='BOK-001').first()
print(result.acc_amount)

57000.0

In [13]:
# create a record to delete
account = Account(acc_name='Test Name', acc_nat_id='00000000', acc_code='BOK-003', acc_age=30, acc_amount=170000, acc_pass='password')
session.add(account)
session.commit()
# show new record
result = session.query(Account).filter_by(acc_code='BOK-003').first()
print(result.acc_code)
# delete a record
result = session.query(Account).filter_by(acc_code='BOK-003').first()
session.delete(result)
session.commit()
# show that record is gone
result = session.query(Account).filter_by(acc_code='BOK-003').first()
print(result)

BOK-003
None